requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0
pandas==2.2.1
psycopg2-binary==2.9.9
dbt-core==1.7.8
dbt-postgres==1.7.8
great-expectations==0.18.12
scikit-learn==1.4.1
apache-airflow-providers-postgres==5.10.0
python-dotenv==1.0.1
SQLAlchemy==1.4.52